src/main/mule/customers.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

    <flow name="get:\customers\(id):wurth-s-salesforce-config">
		<ee:transform doc:name="varInitialData" doc:id="2af254b4-2312-4d4e-a318-bfa2ef766bba" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="varInitialData" ><![CDATA[%dw 2.0
output application/json
---
{
	customerId: attributes.uriParams.id,
	origin: attributes.headers.'x-source-system',
	content: payload
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="START get customers by id" doc:id="c0634c2e-80ae-4f36-a30d-a96f4bd89863" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	&#10;	message: "starting get customers by id to salesforce",&#10;	content: vars.varInitialData&#10;}]' />
		<salesforce:query doc:id="75eea05f-13e4-4a4b-8b71-5b15de3a1e5f" config-ref="Salesforce_Config" doc:name="Query" >
			<salesforce:salesforce-query ><![CDATA[SELECT Id, FirstName, LastName, Email, Phone FROM Contact WHERE Id = ':customerId'
]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	customerId : vars.varInitialData.customerId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="response" doc:id="505be021-76b7-4c39-a981-a62b376f50a7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Id": payload[0].Id,
	"Name": payload[0].FirstName,
	"Surname": payload[0].LastName,
	"Email": payload[0].Email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END get customers by id" doc:id="dd455cbb-5c8d-4e58-a2dc-b1c44174f82c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	&#10;	message: "get customers by id successfully to salesforce",&#10;	content: vars.varInitialData,&#10;	results: payload&#10;	&#10;}]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="207fcf0a-4719-4495-ba59-38518935a086" >
				<logger level="ERROR" doc:name="error trying to post customer into salesforce" doc:id="f51ae98c-3817-422b-a5fb-197bae13404c" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	content: vars.varInitialData,&#10;	error: error&#10;}]" />
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\customers:application\json:wurth-s-salesforce-config">
		<ee:transform doc:name="varInitialData" doc:id="8a605780-c32a-40fe-b113-87b3ea6efef2" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="varInitialData" ><![CDATA[%dw 2.0
output application/json
---
{
	correlationId: attributes.headers.'x-correlation-id',
	origin: attributes.headers.'x-source-system',
	idempotencykey: attributes.headers."x-idempotency-key",
	content: payload
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="START post customers" doc:id="95139589-18be-4a8b-8277-481564432f17" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	&#10;	message: "starting post customers",&#10;	content: vars.varInitialData&#10;}]' />
		<ee:transform doc:name="salesforce account" doc:id="15354106-d364-433b-8198-8a0e14a118a0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Contact" doc:id="b384f360-c175-404c-8942-f6edc26f2c50" config-ref="Salesforce_Config" doc:name="Create" />
		<ee:transform doc:name="Adjust salesforce output - VALIDAR CON ALEXANDER" doc:id="15a2a454-2256-4c30-bbd0-11ece2a90230" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END post customers" doc:id="223481b0-a164-49ca-b0e8-db943e9ca3f2" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	&#10;	message: "customer posted successfully",&#10;	content: vars.varInitialData&#10;}]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="54a0c2e4-7b11-464b-970b-0f9d44f357e4" >
				<logger level="ERROR" doc:name="error trying to post customer into salesforce" doc:id="c4391f78-bbc6-4189-b751-f53c628ff0fe" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	content: vars.varInitialData,&#10;	error: error&#10;}]" />
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
